<template>
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh sách shops</h3>
                <router-link class="btn btn-success" to="/add-shop">Thêm địa chỉ</router-link>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Tên shop</th>
                      <th>Tên chủ shop</th>
                      <th>Địa chỉ</th>
                      <th>Website</th>
                      <th>Mô tả</th>
                      <th>Hình ảnh</th>
                      <th>Tùy chọn</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(shop,index) in Pagi_address.data" :post="shop" :key="shop.sh_id">
                      <td>{{index+1}}</td>
                      <td>{{shop.name}}</td>
                      <td>{{shop.empl_id}}</td>
                      <td>{{shop.adress.a_name}}</td>
                      <td>{{shop.sh_domain |sortlength(20,'...') }}</td>
                      <td>{{shop.sh_description | sortlength(20,'...')}}</td>
                      <td>
                          <img :src="ourImage(shop.photos)" style="width: 40px; height: 50px" alt="">
                      </td>
                      <td>
                          <router-link :to="`/edit-shop/${shop.sh_id}`">
                              <img src="Image/edit.png" width="32" height="32" alt="">
                          </router-link>
                          <a href="">
                              <img src="Image/stop.png" width="32" height="32" alt="">
                          </a>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <pagination :data="Pagi_address" @pagination-change-page="getShops">
                </pagination> 
              </div>
            </div>
            <!-- /.card -->

          </div>
</template>
<script>
export default {
    data(){
      return {
          Pagi_address:{},
      }
    },
    mounted(){
        this.getShops();
    },
    computed:{
        
    },
    methods: {
        ourImage(img){
            return "uploadImage/"+img;
        },
       getShops(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                axios.get('/all-shops?page=' + page)
                    .then(response => {
                        this.Pagi_address = response.data
                    });
            }
    }
}
</script>