<template>
    <div class="row">
        <Adress></Adress>
    </div>
</template>
<script>
import Adress from './Adress/list'
export default {
    data(){
        return {
            
        }
    },
    components:{
        Adress
    }
}
</script>